# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Roles
BOT_DEVELOPER_ROLE_ID=
MODERATOR_ROLE_ID=
PAGE_ROLE_ID=

# Channels
LOG_CHANNEL_ID=

# Database (libsql)
DATABASE_URL=http://localhost:9120
DATABASE_AUTH_TOKEN=

# Better Stack pager
BETTERSTACK_API_TOKEN=
BETTERSTACK_REQUESTER_EMAIL=

# App
NODE_ENV=development
